* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #273c75;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.message-overlay {
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 99;
  display: block;
}

.message-box {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  width: 90%;
  max-width: 355px;
  font-size: 1.2rem;
}

.message-box__close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.6rem;
  cursor: pointer;
}

.container {
  width: 95%;
  height: 100vh;
  max-width: 1150px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter {
  border: 3px solid #FC427B;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border-radius: 50%;
}

.form {
  background-color: #ffff33;
  padding: 20px;
  border-radius: 7px;
  width: 90%;
  max-width: 635px;
  font-size: 1.3rem;
  user-select: none;
  color: #000;
  position: relative;
}

.form__question {
  margin: 0px 0px 15px 0px;
}

.form__choice {
  background-color: #fff;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.form__choice+.form__choice {
  margin-top: 10px;
}

.form__choice:hover,
.form__choice--active {
  border: 2px solid #273c75;
}

.form__choice:hover .form__choice__radio-button__inner,
.form__choice--active .form__choice__radio-button__inner,
.form__choice:hover .form__choice__radio-button__outer,
.form__choice--active .form__choice__radio-button__outer {
  color: #273c75;
}

.form__choice__radio-button {
  color: #FC427B;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}

.form__choice__radio-button__inner {
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__choice__radio-button__outer {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__choice__text {
  margin: 0px 0px 0px 30px;
  display: inline-block;
}

.form__button {
  font-size: 1.2rem;
  padding: 10px 15px;
  display: block;
  margin: 14px auto 0px;
  border-radius: 5px;
  border: 2px solid #273c75;
  cursor: pointer;
  background-color: #fff;
}

.anti-cheating-button {
  width: 90%;
  max-width: 635px;
  font-size: 1.5rem;
  padding: 10px 15px;
  display: block;
  margin: 14px auto 0px;
  border-radius: 5px;
  border: 3px solid #FC427B;
  cursor: pointer;
  background-color: #fff;
}

@media only screen and (max-height: 585px) {
  body {
    margin: 50px 0px;
  }
}